#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" \
    "sha256-1f6QwRmA1kmQlE7aAP3n+B6+fPb1VwbExL5p8n+LXs4="
fi

nix_direnv_watch_file flake.nix
nix_direnv_watch_file flake.lock
nix_direnv_watch_file devenv.nix

use flake . --no-pure-eval
